body {
  margin: 0;
  font-family: Roboto;
  font-weight: 300px;
  font-size: 14px;
}
.logo {
width: 50px;
}

.menu {
  color: #2E2F40;
}
header {
  background-color: none;
  padding: 20px;
}
header ul {
  float: right;
  color: white;
}
header li {
  display: inline-block;
  padding: 5px 10px;
}
header p {
  display: inline-block;
}
.heroImg {
  background-color: #EBEBEB;
  padding: 100px 15px;
}
.content {
  max-width: 300px;
  margin: 0 auto;
  padding: 50px;
  background-color: #FFFFFF;
  text-align: center;
}
button {
  padding: 15px;
  background-color: #373738;
  color: white;
  font-size: 15px;
  border-radius: 4px;
}
footer {
  background-color: #6768A6;
  padding: 5px;
  color: white;
  width: 100%;
float: left;
}

footer ul {
  list-style: none;
  padding-left: 5px;
}

footer li {
  display: inline-block;
  padding: 10px 15px;
  align-items: center;
}

.LinkedIn, .Pinterest, .Twitter {
width: 8px;
padding: 30px; 0;
}

.Twitter {
  padding-right: 100px;
}

.LinkedIn {
  padding-left: 80px;
}

.tel {
  font-size: 20px;
  font-weight: 500;
}

.email {
  font-size: 20px;
  font-weight: 300;
}

.footerbutton {
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  font-size: 14px;
  color: #2E2F40;
  background-color: white;
  border-radius: 16px;
}

.ViewCSbutton {
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  font-size: 14px;
  color: white;
  background-color:#2E2F40
  border-radius: 16px;
}

.copyright {
  font-size: 12px;
  font-weight: 300;
  padding-left: 100px;
}

.h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 88px;
  line-height: 103px;
}

.h2 {
  font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 53px;
line-height: 52px;
}

.h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
}

.h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 31px;
  line-height: 18px;
}

.h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
}