body {
  font: Roboto;
  margin: auto;
}
.logo {
width: 70px;
}

.logo2 {
width: 70px; 
}

header {
  padding: 20px;
  background-color:#FFFFFF;
  display: flexbox;
}

ul a {
  float: right;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300px;
  color: white
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
  padding: 30px;
}

.DRMenuButton {
  border-radius: 16px;
  padding-right: 20px;
  display: inline-block;
  padding: 20px;
  color:#FFFFFF
  background-color: #6768A6;
}

.content {
  max-width: 300px;
  margin: 0 auto;
  padding: 50px;
  background-color: #FFFFFF;
  text-align: center;
}

button {
  padding: 15px;
  background-color:#FFFFFF;
  color:#2E2F40
  font-size: 15px;
  border-radius: 16px;
}

h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 88px;
  line-height: 80px;
}

h2 {
font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 53px;
line-height: 52px;
}

h3 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
}

h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 31px;
  line-height: 9px;
}

h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
}

footer {
  font: Roboto;
  font-size: 14px;
  background-color: #373738;
  padding: 5px;
  color: white;
}
footer ul {
  list-style: none;
  padding-left: 5px;
  margin: auto;
}
footer li {
  display: inline-block;
  padding: 0px 7px;
}
body {
  margin: 0;
}
header {
  background-color: #373738;
  padding: 15px;
}
header ul {
  float: right;
  color: white;
}
header li {
  display: inline-block;
  padding: 0px 5px;
}
header p {
  display: inline-block;
}

.IntroCopy{
padding: 100px; 0px; 100px; 0px
font: Roboto;
color: #6768A6;
}

.MyStory {
  padding-top: 12%;
  padding-bottom: 5%;
}

.CharPortrait {
  width: 70%;
  float: right;
  padding: 0;
  border-radius: 30px;
}

section .StoryCopy {
  padding: 75px;
  background-color: #2E2F40;
}

section .StoryCopy {
  color: #FFFFFF;
  background-color: #2E2F40;
}

/* <!-- My UX Skills section coded using CSS flex --> */

.SkillsTools {
  display: flex;
  align-items: flex-start;
  background-color:#2E2F40;
  padding: 75px;
  justify-content: center;
}

#Skills {
  color: #FFFFFF;
  border: 2px solid white;
  border-radius: 16px;
  outline:#FFFFFF;
  margin: 10px;  
  padding: 25px;
  padding-right: 5%;
  text-align: left;
}

#Tools {
  color: #FFFFFF;
  border: 2px solid white;
  border-radius: 16px;
  outline:#FFFFFF;
  margin: 10px;  
  padding: 25px;
  padding-right: 5%;
  text-align: left;
}

#Skills ul {
  line-height: 1px;
}

button {
  padding: 15px;
  background-color: white;
  color:#ADAEF2;
  font-size: 15px;
  border-radius: 4px;
}

footer {
  margin: auto;
  font-family: Roboto;
  font-weight: 400;
  background-color: #6768A6;
  padding: 30px;
  width: auto
  float: left;
}

footer ul {
  list-style: none;
  padding-left: 5px;
  padding-right: 5px;
}

footer li {
  display: inline-block;
  padding: 10px 15px;
  align-items: center;
}

.LinkedIn, .Pinterest, .Twitter {
width: 8px;
padding: 30px; 0;
}

.Twitter {
  padding-right: 100px;
}

.LinkedIn {
  padding-left: 80px;
}

.tel {
  font-size: 30px;
  font-weight: 500;
}

.email {
  font: Roboto;
  size: 16px;
  font-weight: 300;
  font-size: 20px;
  font-weight: 300;
}

.footerbutton {
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #2E2F40;
  background-color: white;
  border-radius: 16px;
}

.ViewCSbutton {
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  background-color:#2E2F40;
  border-radius: 16px;
}

.copyright {
  font: Roboto;
  font-weight: 300;
  font-size: 12pt;
  padding-left: 100px;
}